@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1b0a10;
  --wine: #6A283E;
  --salmon-light: #F38577;
  --salmon-default: #CB6359;
  --salmon-dark: #9F3934;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b0a10;
    --foreground: #ffffff;
    /* --background: #ffffff;
    --foreground: #1b0a10; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}